{% extends 'base.html' %}
{% block login_active %}active{% endblock %}

{% block body %}
        <br>
        <center>
            <table class="tg">
                <tr>
                    <th class="td_row">Blood Group</th>
                    <th class="td_row">A+</th>
                    <th class="td_row">B+</th>
                    <th class="td_row">O+</td>
                    <th class="td_row">AB+</td>
                    <th class="td_row">A-</td>
                    <th class="td_row">B-</td>
                    <th class="td_row">O-</td>
                    <th class="td_row">AB-</td>

                </tr>
                <tr>
                    <td class="td_row">A+</i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                    <td class="td_row">A-</td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>

                </tr>
                <tr>
                    <td class="td_row">B+</td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>

                </tr>
                <tr>
                    <td class="td_row">B-</td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>

                </tr>
                <tr>
                    <td class="td_row">O+</td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                    <td class="td_row">O-</td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td class="td_row">AB+</td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                </tr>
                <tr>
                    <td class="td_row">AB-</td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-times"></i></td>
                    <td class="td_data"><i class="fa fa-check"></i></td>
                </tr>
            </table>
        </center>
        <br>

{% endblock %}
