{% extends 'base.html' %}
{% block login_active %}active{% endblock %}

{% block body %}
            <br><br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center><font size="5"><span>Read by Language! </span></font></center>
                        </div>
                        <div class="panel-body">
                            <nav>
                                <center>
                                    <br>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <!-- <a class="btn btn-info" data-toggle="tab" href="#nav-info" >     Admission Information
                                        </a> -->
                                        <a class="btn btn-primary btn-lg" data-toggle="tab" href="#lang_eng">
                                            ENGLISH
                                        </a>
                                        <a class="btn btn-primary btn-lg" data-toggle="tab" href="#lang_hin">
                                            हिंदी
                                        </a>
                                        <a class="btn btn-primary btn-lg" data-toggle="tab" href="#lang_guj">
                                            ગુજરાતી
                                        </a>
                                    <!-- <a class="btn btn-info btn-lg" data-toggle="tab" href="#lang_mar">
                                        मराठी
                                    </a> -->
                                    </div>
                                </center>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-info1" role="tabpanel">
                            <!-- Don't make any changes -->
                            </div>
                            <div class="tab-pane fade" id="lang_eng" role="tabpanel" >
                                <br>
                                <p class="points">
                                    There are several parameters that determine the eligibility of an individual to donate blood. Guidelines laid down by the Ministry of Health, Government of India have to be followed by blood banks and organizations conducting blood donation camps.
                                </p>
                                <ul>
                                    <li>
                                        Overall health- The donor must be fit and healthy, and should not be suffering from transmittable diseases.
                                    </li>
                                    <li>
                                        Age and weight- The donor must be 18–65 years old and should weigh a minimum of 50 kg.
                                    </li>
                                    <li>
                                        Pulse rate- Between 50 and 100 without irregularities.
                                    </li>
                                    <li>
                                        Hemoglobin level- A minimum of 12.5 g/dL.
                                    </li>
                                    <li>
                                        Blood pressure- Diastolic: 50–100 mm Hg, Systolic: 100–180 mm Hg.
                                    </li>
                                    <li>
                                        Body temperature- Should be normal, with an oral temperature not exceeding 37.5 °C.
                                    </li>
                                    <li>
                                        The time period between successive blood donations should be more than 3 months.
                                    </li>
                                </ul>
                                <hr>
                                <p class="points">
                                    Individuals under certain conditions are deemed ineligible to donate blood.
                                </p>
                                <ul>
                                    <li>
                                        A person who has been tested HIV positive.
                                    </li>
                                    <li>
                                        Individuals suffering from ailments like cardiac arrest, hypertension, blood pressure, cancer, epilepsy, kidney ailments and diabetes.
                                    </li>
                                    <li>
                                        A person who has undergone ear/body piercing or tattoo in the past 6 months.
                                    </li>
                                    <li>
                                        Individuals who have undergone immunization in the past 1 month.
                                    </li>
                                    <li>
                                        Individuals treated for rabies or received Hepatitis B vaccine in the past 6 months.
                                    </li>
                                    <li>
                                        A person who has consumed alcohol in the past 24 hours.
                                    </li>
                                    <li>
                                        Women who are pregnant or breastfeeding.
                                    </li>
                                    <li>
                                       Individuals who have undergone major dental procedures or general surgeries in the past 1 month.
                                    </li>
                                    <li>
                                       Women who have had miscarriage in the past 6 months.
                                    </li>
                                    <li>
                                       Individuals who have had fits, tuberculosis, asthma and allergic disorders in the past.
                                    </li>
                                    <br>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="lang_hin" role="tabpanel">
                                <br>
                                <p class="points">
                                    ऐसे कई पैरामीटर हैं जो रक्त दान करने के लिए किसी व्यक्ति की योग्यता निर्धारित करते हैं। भारत सरकार के स्वास्थ्य मंत्रालय द्वारा निर्धारित दिशानिर्देशों का पालन रक्त बैंकों और रक्तदान शिविर आयोजित करने वाले संगठनों द्वारा किया जाना चाहिए।
                                </p>
                                <ul>
                                    <li>
                                        कुल मिलाकर स्वास्थ्य- दाता फिट और स्वस्थ होना चाहिए, और ट्रांसमिट करने योग्य बीमारियों से पीड़ित नहीं होना चाहिए।
                                    </li>
                                    <li>
                                        आयु और वजन- दाता 18-65 वर्ष का होना चाहिए और कम से कम 50 किलो वजन होना चाहिए।
                                    </li>
                                    <li>
                                        पल्स दर- अनियमितताओं के बिना 50 और 100 के बीच।
                                    </li>
                                    <li>
                                        हेमोग्लोबिन स्तर- न्यूनतम 12.5 ग्राम / डीएल।
                                    </li>
                                    <li>
                                        रक्तचाप- डायस्टोलिक: 50-100 मिमी एचजी, सिस्टोलिक: 100-180 मिमी एचजी।
                                    </li>
                                    <li>
                                        शरीर का तापमान- सामान्य होना चाहिए, मौखिक तापमान 37.5 डिग्री सेल्सियस से अधिक नहीं है।
                                    </li>
                                    <li>
                                        लगातार दो रक्त दानों के बीच की अवधि 3 महीने से अधिक होनी चाहिए।
                                    </li>
                                </ul>
                                <hr>
                                <p class="points">
                                    कुछ शर्तों के तहत व्यक्तियों को रक्त दान करने के लिए अपात्र समझा जाता है।
                                </p>
                                <ul>
                                    <li>
                                        एक व्यक्ति जिसे एचआईवी पॉजिटिव का परीक्षण किया गया है।
                                    </li>
                                    <li>
                                        कार्डियक गिरफ्तारी, उच्च रक्तचाप, रक्तचाप, कैंसर, मिर्गी, गुर्दे की बीमारियों और मधुमेह जैसी बीमारियों से ग्रस्त व्यक्ति।
                                    </li>
                                    <li>
                                       एक व्यक्ति जिसने पिछले 6 महीनों में कान / शरीर भेदी या टैटू किया है।
                                    </li>
                                    <li>
                                        पिछले 1 महीने में जिन लोगों ने टीकाकरण किया है।
                                    </li>
                                    <li>
                                        पिछले 6 महीनों में व्यक्तियों को रेबीज के लिए इलाज किया जाता है या हेपेटाइटिस बी टीका प्राप्त होती है।
                                    </li>
                                    <li>
                                        एक व्यक्ति जिसने पिछले 24 घंटों में शराब पी ली है।
                                    </li>
                                    <li>
                                        गर्भवती या स्तनपान कराने वाली महिलाएं।
                                    </li>
                                    <li>
                                        पिछले 1 महीनों में जिन लोगों ने बड़ी दंत प्रक्रियाओं या सामान्य सर्जरी की है।
                                    </li>
                                    <li>
                                        पिछले 6 महीनों में गर्भपात करने वाली महिलाएं।
                                    </li>
                                    <li>
                                        अतीत में फिट बैठने वाले व्यक्ति, तपेदिक, अस्थमा और एलर्जी संबंधी विकार।
                                    </li>
                                    <br>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="lang_guj" role="tabpanel">
                                <br>
                                <p class="points">
                                    કેટલાક પરિમાણો છે કે જે વ્યક્તિની રક્ત દાન માટે યોગ્યતા નક્કી કરે છે.આરોગ્ય મંત્રાલય દ્વારા નિર્ધારિત માર્ગદર્શિકા, ભારત સરકારે રક્ત દાન શિબિરનું આયોજન કરીને રક્ત બૅન્કો અને સંગઠનો દ્વારા અનુસરવામાં આવે છે.
                                </p>
                                <ul>
                                    <li>
                                        એકંદરે સ્વાસ્થ્ય- દાતા ફિટ અને તંદુરસ્ત હોવા જોઇએ, અને ટ્રાન્સમેટીબલ રોગોથી પીડાતા ન હોવા જોઈએ.
                                    </li>
                                    <li>
                                        ઉંમર અને વજન - દાતા 18-65 વર્ષનું હોવું જોઈએ અને તે ઓછામાં ઓછા 50 કિલો વજનના હોવા જોઈએ.
                                    </li>
                                    <li>
                                        પલ્સ દર- અનિયમિતતા વગર 50 અને 100 ની વચ્ચે.
                                    </li>
                                    <li>
                                        હેમોગ્લોબિન સ્તર - ઓછામાં ઓછા 12.5 ગ્રામ / ડી.એલ.
                                    </li>
                                    <li>
                                        બ્લડ પ્રેશર - ડાયસ્ટોલિક: 50-100 એમએમ એચજી, સિસ્ટેલોક: 100-180 એમએમ એચજી.
                                    </li>
                                    <li>
                                        શારીરિક તાપમાન- સામાન્ય હોવું જોઈએ, મૌખિક તાપમાન 37.5 ડિગ્રી સેલ્સિયસ કરતાં વધુ નહી.
                                    </li>
                                    <li>
                                        ક્રમિક રક્ત દાન વચ્ચેનો સમય 3 મહિનાથી વધુ હોવો જોઈએ.
                                    </li>
                                </ul>
                                <hr>
                                <p class="points">
                                    અમુક ચોક્કસ શરતો હેઠળના વ્યક્તિને રક્ત દાન માટે અયોગ્ય ગણવામાં આવે છે.
                                </p>
                                <ul>
                                    <li>
                                        જે વ્યક્તિ એચ.આય.વી પૉઝીટીવ ચકાસે છે
                                    </li>
                                    <li>
                                        હૃદયસ્તંભતા, હાયપરટેન્શન, બ્લડ પ્રેશર, કેન્સર, એપીલેપ્સી, કિડની બિમારીઓ અને ડાયાબિટીસ જેવી બિમારીઓથી પીડિત વ્યક્તિ.
                                    </li>
                                    <li>
                                        એક વ્યક્તિ જે છેલ્લાં 6 મહિનામાં કાન / શરીર વેધન અથવા ટેટૂ પસાર કરી છે.
                                    </li>
                                    <li>
                                        છેલ્લા એક મહિનામાં ઇમ્યુનાઇઝેશન કરનારા વ્યક્તિઓ.
                                    </li>
                                    <li>
                                        છેલ્લા 6 મહિનામાં હડકવા માટે અથવા હેપેટાઇટીસ બીની રસી લેવા માટેના વ્યક્તિઓ.
                                    </li>
                                    <li>
                                        જે વ્યકિતએ છેલ્લા 24 કલાકમાં દારૂનો ઉપયોગ કર્યો છે
                                    </li>
                                    <li>
                                        ગર્ભવતી અથવા સ્તનપાન કરનારા મહિલાઓ.
                                    </li>
                                    <li>
                                       ભૂતકાળમાં એક મહિનામાં મોટા દંત કાર્યવાહી અથવા સામાન્ય શસ્ત્રક્રિયાઓ કરનારા વ્યક્તિઓ.
                                    </li>
                                    <li>
                                       છેલ્લાં 6 મહિનામાં ગર્ભપાત ધરાવતા મહિલાઓ.
                                    </li>
                                    <li>
                                       ભૂતકાળમાં જે લોકો તૂટી, ક્ષય, અસ્થમા અને એલર્જીક વિકૃતિઓ ધરાવતા હતા.
                                    </li>
                                    <br>
                                </ul>
                            </div>

                            <!-- <div class="tab-pane fade" id="lang_mar" role="tabpanel">

                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}
